<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../CSS/homestyle.css" />

    <title>Kaizen Dashboard</title>
    <script
      src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.js"
      integrity="sha256-nCXGH8kkPFozCBx4meHWhA5OCqXhhBzoBVpHfM/HmwM="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.css"
      integrity="sha256-zsz1FbyNCtIE2gIB+IyWV7GbCLyKJDTBRz0qQaBSLxM="
      crossorigin="anonymous"
    />
  </head>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
          <li>
          
              <!--
              <img
                src="/docs/5.0/assets/brand/bootstrap-logo.svg"
                alt=""
                width="30"
                height="24"
                class="d-inline-block align-text-top"
              /> -->
              <span style="font-weight: bold; font-size: 24px; padding-left: 15px;" class="navbar-brand mb-0 h1">KAIZEN</span>
         
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li style="margin-right: 40px; padding-top: 4px">
            <h4 class="navbar-text" style="color: white"><%= user %></h4>
          </li>
          <li style="margin-right: 10px">
            <form action="/logout" method="get" class="nav-link">
              <input
                type="submit"
                value="Logout"
                class="btn btn-outline-light"
              />
            </form>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <body>
    <div class="row" style="margin: 5% 13%">
      <div class="addHabitContainer">
        <form action="/createHabit" method="get">
          <input
            type="submit"
            class="createText click"
            value="Add a New Habit +"
          />
        </form>
      </div>
    </div>

    <div class="row" style="margin: 20px 10px">
      <div class="col-10 offset-1 col-md-6 offset-md-0">
        <div class="row">
          <div class="col-10 offset-1">
            <div class="card listBorder padding boxShadowMain">
              <div class="card-body">
                <h2
                  style="color: #5680e9; font-weight: bold; padding: 12px 22px"
                >
                  Today's Habits
                </h2>
                <!--NOTE: THIS SHOULD ONLY ITERATE OVER DAILIES-->

                <% 
                Hresults.forEach(habit => { 
                  if (habit.period === "Daily") {
                    let percentage = Math.round((habit.progress / habit.frequency) * 100);
                    console.log(habit._id); 
                    var form1 = "updateDaily" + habit._id;
                    var redirect1 = "return document.forms.updateDaily" + habit._id
                    + ".submit();"; %>
                <form action="/updateHabit" method="POST" name="<%= form1 %>">
                  <div
                    class="row input-group mb-3"
                    onclick="return document.forms.updateDaily<%= habit._id %>.submit();"
                  >
                    <input
                      type="text"
                      class="form-control col-8 offset-1"
                      disabled
                      value="<%= habit.title %>"
                      style="border: none"
                      name="title"
                    />

                    <input type="hidden" name="id" value="<%= habit._id %>" />
                    <input
                      type="hidden"
                      name="progress"
                      value="<%= habit.progress %>"
                    />
                    <input
                      type="hidden"
                      name="frequency"
                      value="<%= habit.frequency %>"
                    />
                    <div
                      class="progress col-4"
                      style="height: 38px; padding: 0"
                    >
                      <!-- NOTE: The error below is only fixed when '' are put around the value but that causes it to be a string not a number so leave it-->
                      <div
                        class="progress-bar progress-bar-striped"
                        role="progressbar"
                        style="
                          background-color: #5680e9;
                          width: <%= percentage %>%;"
                        aria-valuenow="<%= habit.progress %>"
                        aria-valuemin="0"
                        aria-valuemax="<%= habit.frequency %>"
                      ></div>
                    </div>
                  </div>
                </form>
                <% }
              }) %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!--Weekly habits-->
          <div class="col-10 offset-1">
            <div class="card listBorder padding boxShadowMain">
              <div class="card-body">
                <h2
                  style="color: #5680e9; font-weight: bold; padding: 12px 22px"
                >
                  Weekly Habits
                </h2>
                <!--NOTE: THIS SHOULD ONLY ITERATE OVER Weeklys-->
                <% Hresults.forEach(habit => { 
                  if (habit.period === "Weekly") {
                    let percentage = Math.round((habit.progress / habit.frequency) * 100); 
                    var form2 = "updateWeekly" + habit._id;
                    var redirect2 = "return document.forms.updateWeekly" + habit._id
                    + ".submit();"; %>
                <form
                  action="/updateHabit"
                  method="POST"
                  name="<%= form2 %>"
                  style="padding: 0; margin: 0"
                >
                  <div
                    class="row input-group mb-3"
                    name="submitDiv"
                    onclick="return document.forms.updateWeekly<%= habit._id %>.submit();"
                  >
                    
                    <input
                      type="text"
                      class="form-control col-8 offset-1"
                      disabled
                      value="<%= habit.title %>"
                      style="border: none"
                    />
                    <input type="hidden" name="id" value="<%= habit._id %>" />
                    <input
                      type="hidden"
                      name="progress"
                      value="<%= habit.progress %>"
                    />
                    <input
                      type="hidden"
                      name="frequency"
                      value="<%= habit.frequency %>"
                    />
                    <div
                      class="progress col-4"
                      style="height: 38px; padding: 0"
                    >
                      <!-- NOTE: The error below is only fixed when '' are put around the value but that causes it to be a string not a number so leave it-->
                      <div
                        class="progress-bar progress-bar-striped"
                        role="progressbar"
                        style="
                          background-color: #5680e9;
                          width: <%= percentage %>%;
                        "
                        aria-valuenow="<%= habit.progress %>"
                        aria-valuemin="0"
                        aria-valuemax="<%= habit.frequency %>"
                      ></div>
                    </div>
                  </div>
                </form>
                <% }
              }) %>
              </div>
            </div>
          </div>
        </div>
        <!--Monthly habits-->
        <div class="col-10 offset-1">
          <div class="card listBorder padding boxShadowMain">
            <div class="card-body">
              <h2 style="color: #5680e9; font-weight: bold; padding: 12px 22px">
                Monthly Habits
              </h2>
              <!--NOTE: THIS SHOULD ONLY ITERATE OVER Monthlys-->
              <% Hresults.forEach(habit => { 
                if (habit.period === "Monthly") {
                  let percentage = Math.round((habit.progress / habit.frequency) * 100); 
                  var form3 = "updateMonthly" + habit._id;
                    var redirect3 = "return document.forms.updateMonthly" + habit._id
                    + ".submit();";
                    %>
              <form
                action="/updateHabit"
                method="POST"
                name="<%= form3 %>"
                style="padding: 0; margin: 0"
              >
                <div
                  class="row input-group mb-3"
                  name="submitDiv"
                  onclick="return document.forms.updateMonthly<%= habit._id %>.submit();"
                >
                  
                  <input
                    type="text"
                    class="form-control col-8 offset-1"
                    disabled
                    value="<%= habit.title %>"
                    style="border: none"
                  />
                  <input type="hidden" name="id" value="<%= habit._id %>" />
                  <input
                    type="hidden"
                    name="progress"
                    value="<%= habit.progress %>"
                  />
                  <input
                    type="hidden"
                    name="frequency"
                    value="<%= habit.frequency %>"
                  />
                  <div class="progress col-4" style="height: 38px; padding: 0">
                    <!-- NOTE: The error below is only fixed when '' are put around the value but that causes it to be a string not a number so leave it-->
                    <div
                      class="progress-bar progress-bar-striped"
                      role="progressbar"
                      style="
                        background-color: #5680e9;
                        width: <%= percentage %>%;
                      "
                      aria-valuenow="<%= habit.progress %>"
                      aria-valuemin="0"
                      aria-valuemax="<%= habit.frequency %>"
                    ></div>
                  </div>
                </div>
              </form>
              <% }
            }) %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-10 offset-1 col-md-6 offset-md-0">
        <div class="card boxShadowMain">
          <div id="calendar">
          
          </div>
        </div>
      </div>
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="../JavaScript/dashboard.js"
      charset="utf-8"
    ></script>
 
  </body>
</html>